.App {
  min-height: 100vh;
}

body {
  color: black;
  position: relative;
  padding-bottom: 200px;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fecommercen  ews.eu%2Feuropeans-spend-5-spending-subscriptions%2F&psig=AOvVaw0zIVkJrmA9L5ycYWebdaXX&ust=1581409811795000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCID1-fTIxucCFQAAAAAdAAAAABAK);
  background-size: cover;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border-color: black;
  margin-left: 5px;
  margin-right: 5px;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 20px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  transform: scale(1)
}

.icon:hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  transform: scale(1.3)
}

#footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 10vh;
  
  background: #485563;  
  background: -webkit-linear-gradient(to top, #29323c, #485563);  
  background: linear-gradient(to top, #29323c, #485563); 
  outline: 5px solid black;
  border-right: 10px solid black;
  
}

.footerOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-items: flex-start;
  padding-top: 15px;
}

.socialMedia {
  justify-self: center;
}

.followUs {
  margin-right: 15px;
}

.footerOptions li {
  list-style: none;
}